
{{datos}}
<div class="fondo" ng-repeat="pregunta in preguntas">
  <div ng-class="[pregunta.check]" >
    <div class="lim">
      <h4>
        <u>
          <strong class="clickear" ng-click="navegar(pregunta.id)">{{pregunta.titulo}}</strong>
        </u>
        <span ng-if="pregunta.status===false" class="pull-right glyphicon glyphicon-question-sign"></span>
        <span ng-if="pregunta.status===true" class="pull-right glyphicon glyphicon-ok-sign res"></span>
        <span ng-if="pregunta.username===datos.userReg" ng-click="selPregunta(pregunta)" data-toggle="modal" data-target="#editarPreg" class="pull-right glyphicon glyphicon-wrench danger"></span>
      </h4>
    </div>
    <div class="col-xs-2 text-center">
      <h6>
        <span class="glyphicon glyphicon-user"></span> {{pregunta.username}}
      </h6>
    </div>
    <div class="col-xs-2 text-center">
      <h6>
        <span class="glyphicon glyphicon-education"> </span> {{pregunta.campus}}
      </h6>
    </div>
    <div class="col-xs-2 text-center">
      <h6>
        <span class="glyphicon glyphicon-calendar"></span> {{pregunta.fecha}}
      </h6>
    </div>
    <div class="col-xs-3 text-center">
      <h6>
        <span class="glyphicon glyphicon-book"></span> {{categoria.nombre}}
      </h6>
    </div>
    <div class="col-xs-1 text-center">
      <h6>
        <span class="glyphicon glyphicon-stats"></span> {{pregunta.resps}}
      </h6>
    </div>
    <br>
  </div>
</div>
<div class="areaRes" ng-if="!datos.authenticated">
  <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#myModal"> Iniciar Sesión</button>
</div>
<div class="areaRes" ng-if="datos.authenticated">
  <button type="button" class="btn btn-primary center-block" ng-click="logout()"> Cerrar Sesión</button>
  <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#hacerPreg"> Preguntar</button>
</div>
<br>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form name="myForm">
      <div class="modal-header">
        <h4 class="modal-title">Inicia Sesión</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="sr-only" for="usuario">Usuario</label>
          <input type="text"  name="username"class="form-control" ng-model="userReg.username" id="usuario" placeholder="Usuario" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" name="password" class="form-control" ng-model="userReg.password" id="password" placeholder="Password" required>
        </div>
      </div>
      <div class="modal-footer">
        <h6>Valido: {{myForm.username.$valid}}{{myForm.password.$valid}}</h6>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-disabled="!myForm.username.$valid && !myForm.password.$valid" type="button" ng-click="login()" data-dismiss="modal" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
</div>

<div class="modal fade" id="hacerPreg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form name="pregForm">
      <div class="modal-header">
        <h4 class="modal-title">Pregunta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="sr-only" for="titulo">Titulo</label>
          <input type="text"  name="titulo"class="form-control" ng-model="newPreg.titulo" id="titulo" placeholder="Titulo" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="texto">Texto</label>
          <input type="text" name="texto" class="form-control" ng-model="newPreg.texto" id="texto" placeholder="Texto aqui..." required>
        </div>
      </div>
      <div class="modal-footer">
        <h6>Valido: {{pregForm.titulo.$valid}} {{pregForm.texto.$valid}}</h6>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-disabled="!pregForm.titulo.$valid && !pregForm.texto.$valid" type="button" ng-click="crearPregunta(newPreg)" data-dismiss="modal" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
</div>

<div class="modal fade" id="editarPreg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form name="editForm">
      <div class="modal-header">
        <h4 class="modal-title">Pregunta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="sr-only" for="titulo">Titulo</label>
          <input type="text"  name="titulo"class="form-control" ng-model="editPreg.titulo" id="titulo" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="texto">Texto</label>
          <input type="text" name="texto" class="form-control" ng-model="editPreg.texto" id="texto" required>
        </div>
      </div>
      <div class="modal-footer">
        <h6>Valido: {{editForm.titulo.$valid}} {{editForm.texto.$valid}}</h6>
        <button type="button" class="btn btn-danger" ng-click="borrarPregunta(editPreg)" data-dismiss="modal">Eliminar Pregunta</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-disabled="!editForm.titulo.$valid && !editForm.texto.$valid" type="button" ng-click="editarPregunta(editPreg)" data-dismiss="modal" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
</div>
