  <div class="container fondo">
    <div ng-repeat="categoria in categorias">
      <div class="col-xs-4 categoria" ng-click="navegar(categoria.id)">
        <img data-ng-src="data:image/png;base64,{{categoria.imagen}}" class="imagenCat"/>
        <h5 class="categoriaTitulo">{{categoria.nombre}}</h5>
      </div>
    </div>
  </div>

  <div class="areaRes" ng-if="!datos.authenticated">
    <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#myModal"> Iniciar Sesión</button>
    <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#nuevo"> Crear cuenta</button>
  </div>
  <div class="areaRes" ng-if="datos.authenticated">
    <button type="button" class="btn btn-primary center-block" ng-click="logout()"> Cerrar Sesión</button>
    <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#crearCat">Nueva Categoría</button>
  </div>
  <br>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="myForm">
        <div class="modal-header">
          <h4 class="modal-title">Inicia Sesión</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="sr-only" for="usuario">Usuario</label>
            <input type="text"  name="username"class="form-control" ng-model="userReg.username" id="usuario" placeholder="Usuario" required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="userReg.password" id="password" placeholder="Password" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-disabled="!myForm.username.$valid && !myForm.password.$valid" type="button" ng-click="login()" data-dismiss="modal" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="crearCat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="formCat">
        <div class="modal-header">
          <h4 class="modal-title">Nueva Categoría</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="sr-only" for="nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control" ng-model="newCat.nombre" id="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
              <input type="file" ng-model="newCat.imagen"  name="imagen" base-sixty-four-input required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-disabled="!formCat.nombre.$valid && !formCat.imagen.$valid" type="button" ng-click="nuevaCategoria(newCat)" data-dismiss="modal" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form name="registro">
      <div class="modal-header">
        <h4 class="modal-title">Regístrate</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="sr-only" for="usuario">Usuario</label>
          <input type="text"  name="username"class="form-control" ng-model="usernew.username" id="usuario" placeholder="Usuario" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" name="password" class="form-control" ng-model="usernew.password" id="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="campus">Campus</label>
          <input type="text"  name="campus" class="form-control" ng-model="usernew.campus" id="campus" placeholder="Campus" maxlength="3" required>
        </div>
      </div>
      <div class="modal-footer">
        <h6>{{registro.username.$valid}} {{registro.password.$valid}} {{registro.campus.$valid}}</h6>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-disabled="!registro.username.$valid && !registro.password.$valid && !registro.campus.$valid" type="button" ng-click="crearUsuario(usernew)" data-dismiss="modal" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
</div>
