<div class="fondo">
  <div ng-class="[pregunta.check]">
    <div class="lim">
      <h4><u><strong >{{pregunta.titulo}}</strong></u> <span ng-if="pregunta.status===false" class="pull-right glyphicon glyphicon-question-sign"></span><span ng-if="pregunta.status===true" class="pull-right glyphicon glyphicon-ok-sign res"></span></h4>
      <h6>{{pregunta.texto}}</h6>
    </div>
    <div class="col-xs-2 text-center">
      <h6>
        <span class="glyphicon glyphicon-user"></span> {{pregunta.username}}
      </h6>
    </div>
    <div class="col-xs-2 text-center">
      <h6>
        <span class="glyphicon glyphicon-education"> </span> {{pregunta.campus}}
      </h6>
    </div>
    <div class="col-xs-2 text-center">
      <h6>
        <span class="glyphicon glyphicon-calendar"></span> {{pregunta.fecha}}
      </h6>
    </div>
    <div class="col-xs-3 text-center">
      <h6>
        <span class="glyphicon glyphicon-book"></span> {{categoria.nombre}}
      </h6>
    </div>
    <div class="col-xs-1 text-center">
      <h6>
        <span class="glyphicon glyphicon-stats"></span> {{pregunta.resps}}
      </h6>
    </div>
    <br>
  </div>
  <div ng-repeat="resp in respuestas">
    <div class="column row container">
      <div class="col-xs-2">
        <div class="row center-block text-center imagenUser">
          <img alt="" width="80" src="./images/user.png">
          <h6>{{resp.user.username}}</h6>
        </div>
      </div>
      <div class="col-xs-10 pregunta">

      </div>
    </div>
    <br>
  </div>
</div>

{{respuestas}}
